<div id="<%= dom_id matricula %>">
  <p>
    <strong>Asignatura:</strong>
    <%= matricula.asignatura_id %>
  </p>

  <p>
    <strong>Alumno:</strong>
    <%= matricula.alumno_id %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= matricula.semestre %>
  </p>

</div>
