<h1>Editing matricula</h1>

<%= render "form", matricula: @matricula %>

<br>

<div>
  <%= link_to "Show this matricula", @matricula %> |
  <%= link_to "Back to matriculas", matriculas_path %>
</div>
